<!DOCTYPE html>
<html>
<head>
	<title>System Analysis</title>
	<link rel="stylesheet" href="/css/foundation.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
	<div class="off-canvas-content" data-off-canvas-content>
	<div class="title-bar hide-for-large">
	<div class="title-bar-left">
	<button class="menu-icon" type="button" data-open="my-info"></button>
	<!-- <span class="title-bar-title">Vy Pham</span> -->
	</div>
	</div>
	<div class="callout primary">
	<div class="row column">
	<!-- <h3>Data analysis in bittrex market</h3> -->
<!-- 	<p class="lead">.Bittrex.</p> -->
	</div>
	</div>


	<div class="grid-container grid-container-padded">
	    <div class="grid-x grid-margin-x">
	        {{{body}}}
	    </div>
	</div>

	</div>
	</div>
	</div>
</body>
</html>